/* Mobile */
@media (max-width:576px) {
        .img {
            position: relative;
            height: 600px;
            margin-top: 60px;
            left: 160px;
        }

        body {
            background-image: linear-gradient(to bottom, #94027e 20%, black 80%);
        }

        .return-button {
            display: none;
        }

        .bg-img {
            position: relative;
            left: 10px;
            top: 180px;
        }

        .heading {
            display: none;
        }

        .power {
            font-family: "metmorphous", serif;
            font-size: 90px;
            width: 1000px;
            position: relative;
            text-align: center;
            top: -1270px;
            left: -30px;
            display: block;
            color: white;
            z-index: 1;
        }

        .about {
            font-family: "metmorphous", serif;
            font-size: 90px;
            position: relative;
            width: 1000px;
            top: -200px;
            text-align: center;
            color: white;
            z-index: 1;
        }

        .power-icon {
            position: relative;
            top: -1070px;
            left: 930px;
        }
}

/* Tablet */
@media ((min-width: 700px) and (max-height: 1380px) and (max-width:1300px)) {
            .img {
            position: relative;
            height: 600px;
            margin-top: 60px;
            left: 160px;
        }

        body {
            background-image: linear-gradient(to bottom, #94027e 20%, black 80%);
        }

        .return-button {
            display: none;
        }

        .heading {
            display: none;
        }

        .bg-img {
            position: relative;
            left: 0px;
            top: 180px;
        }

        .power {
            font-family: "metmorphous", serif;
            font-size: 90px;
            width: 1000px;
            position: relative;
            text-align: center;
            top: -1270px;
            left: -20px;
            display: block;
            color: white;
            z-index: 1;
        }

        .about {
            font-family: "metmorphous", serif;
            font-size: 90px;
            position: relative;
            width: 1000px;
            top: -200px;
            text-align: center;
            color: white;
            z-index: 1;
        }

        .power-icon {
            position: relative;
            top: -1080px;
            left: 930px;
        }
}
/* for desktop and laptop */
@media (min-width: 1300px) {
            body {
                background-image:linear-gradient(180deg, #94027e 40%, rgb(0, 0, 0) 60%);
                font-family: "Metamorphous", serif;
                margin-top: -140px;
                margin-right: 300px;
            }

            .img {
                position: relative;
                top: -850px;
                left: 20px;
            }

            .return-button {
                position: absolute;
                font-family: "Metamorphous", serif;
                top: 30px;
                right: 20px;
                height: 50px;
                background-color: black;
                color: white;
                cursor: pointer;
                border: solid;
                border-color: rgb(254, 251, 251);
                border-radius: 10px;
            }

            .bg-img {
                position: relative;
                left: 680px;
                top: 200px;
                margin-left: -99px;
            }

            .heading {
                position: relative;
                color: white;
                top: -950px;
                left: 200px;
                font-size: 70px;
            }

            .power-icon {
                position: relative;
                top: -800px;
                left: 790px;
                height: 55px;
            }

            .power {
                position: relative;
                color: rgb(219, 60, 234);
                top: -845px;
                left: 20px;
                font-size: 30px;
            }

            .about {
                position: relative;
                color: white;
                font-size: 23px;
                top: -780px;
                left: 20px;
                margin-right: 500px;
            }
}