/* Mobile */
@media (max-width:576px) {
        .img {
            position: relative;
            height: 600px;
            margin-top: 60px;
            left: 160px;
        }

        body {
            background-image: linear-gradient(to bottom, #410303 40%, black 60%);
        }

        .return-button {
            display: none;
        }

        .bg-img {
            position: relative;
            left: 110px;
            top: 100px;
        }

        .heading {
            display: none;
        }

        .power {
            font-family: "metmorphous", serif;
            font-size: 90px;
            width: 1000px;
            position: relative;
            text-align: center;
            top: -1180px;
            display: block;
            color: white;
            z-index: 1;
        }

        .about {
            font-family: "metmorphous", serif;
            font-size: 90px;
            position: relative;
            width: 1000px;
            top: -200px;
            text-align: center;
            color: white;
            z-index: 1;
        }

        .power-icon {
            position: relative;
            top: -985px;
            left: 820px;
        }
}

/* Tablet */
@media ((min-width: 700px) and (max-height: 1380px) and (max-width:1300px)) {
            .img {
            position: relative;
            height: 600px;
            margin-top: 60px;
            left: 160px;
        }

        body {
            background-image: linear-gradient(to bottom, #410303 40%, black 60%);
        }

        .return-button {
            display: none;
        }

        .heading {
            display: none;
        }

        .bg-img {
            position: relative;
            left: 100px;
            top: 100px;
        }

        .power {
            font-family: "metmorphous", serif;
            font-size: 90px;
            width: 1000px;
            position: relative;
            text-align: center;
            top: -1100px;
            display: block;
            color: white;
            z-index: 1;
        }

        .about {
            font-family: "metmorphous", serif;
            font-size: 90px;
            position: relative;
            width: 1000px;
            top: -100px;
            text-align: center;
            color: white;
            z-index: 1;
        }

        .power-icon {
            position: relative;
            top: -910px;
            left: 40px;
            
        }
}
/* for desktop and laptop */
@media (min-width: 1300px) {
            body {
                background-image:linear-gradient(180deg, #410303 0%, rgb(0, 0, 0) 100%);;
                font-family: "Metamorphous", serif;
                margin-right: 200px;
                margin-top: -75px;
                margin-left: -50px;
            }

            .img {
                position: relative;
                top: -850px;
                left: 60px;
            }

            .return-button {
                position: absolute;
                font-family: "Metamorphous", serif;
                top: 30px;
                right: 20px;
                height: 50px;
                background-color: black;
                color: white;
                cursor: pointer;
                border: solid;
                border-color: rgb(254, 251, 251);
                border-radius: 10px;
            }

            .bg-img {
                border: none;
                margin: 0;
                position: relative;
                left: 830px;
                top:150px;
            }

            .heading {
                position: relative;
                color: white;
                top: -950px;
                left: 200px;
                font-size: 70px;
            }

            .power-icon {
                position: relative;
                top: -800px;
                left: 650px;
                height: 55px;
            }

            .power {
                position: relative;
                color: rgb(195, 6, 6);
                top: -845px;
                left: 100px;
                font-size: 30px;
            }

            .about {
                position: relative;
                color: white;
                font-size: 23px;
                top: -780px;
                left: 100px;
                margin-right: 500px;
            }
}