/* Mobile */
@media (max-width:576px) {
        .img {
            position: relative;
            height: 600px;
            margin-top: 60px;
            left: 200px;
        }

        body {
            background-image: linear-gradient(to bottom, #306403 40%, black 60%);
        }

        .return-button {
            display: none;
        }

        .bg-img {
            position: relative;
            left: -10px;
            top: 180px;
        }

        .heading {
            display: none;
        }

        .power {
            font-family: "metmorphous", serif;
            font-size: 90px;
            width: 1000px;
            position: relative;
            text-align: center;
            top: -1340px;
            display: block;
            color: white;
            z-index: 1;
        }

        .about {
            font-family: "metmorphous", serif;
            font-size: 90px;
            position: relative;
            width: 1000px;
            top: -100px;
            text-align: center;
            color: white;
            z-index: 1;
        }

        .power-icon {
            position: relative;
            top: -1150px;
            left: 820px;
        }
}

/* Tablet */
@media ((min-width: 700px) and (max-height: 1380px) and (max-width:1300px)) {
            .img {
            position: relative;
            height: 600px;
            margin-top: 60px;
            left: 200px;
        }

        body {
            background-image: linear-gradient(to bottom, #306403 40%, black 60%);
        }

        .return-button {
            display: none;
        }

        .heading {
            display: none;
        }

        .bg-img {
            position: relative;
            left: -20px;
            top: 180px;
        }

        .power {
            font-family: "metmorphous", serif;
            font-size: 90px;
            width: 1000px;
            position: relative;
            text-align: center;
            top: -1360px;
            display: block;
            color: white;
            z-index: 1;
        }

        .about {
            font-family: "metmorphous", serif;
            font-size: 90px;
            position: relative;
            width: 1000px;
            top: -100px;
            text-align: center;
            color: white;
            z-index: 1;
        }

        .power-icon {
            position: relative;
            top: -1175px;
            left: 810px;
        }
}
/* for desktop and laptop */
@media (min-width: 1300px) {
            body {
                background-image:linear-gradient(180deg, #306403 40%, rgb(0, 0, 0) 60%);
                font-family: "Metamorphous", serif;
                margin-top: -200px;
                margin-right: 250px;
            }

            .img {
                position: relative;
                top: -850px;
                left: 20px;
            }

            .return-button {
                position: absolute;
                font-family: "Metamorphous", serif;
                top: 30px;
                right: 20px;
                height: 50px;
                background-color: black;
                color: white;
                cursor: pointer;
                border: solid;
                border-color: rgb(254, 251, 251);
                border-radius: 10px;
            }

            .bg-img {
                position: relative;
                left: 630px;
                top: 200px;
            }

            .heading {
                position: relative;
                color: white;
                top: -950px;
                left: 200px;
                font-size: 70px;
            }

            .power-icon {
                position: relative;
                top: -800px;
                left: 660px;
                height: 55px;
            }

            .power {
                position: relative;
                color: rgb(61, 202, 78);
                top: -845px;
                left: 20px;
                font-size: 30px;
            }

            .about {
                position: relative;
                color: white;
                font-size: 23px;
                top: -780px;
                left: 20px;
                margin-right: 500px;
            }
}