/*for desktop and laptop*/
@media (min-width: 1300px) {
            .heading {
                color: white;
                font-size: 60px;
                text-align: center;
                margin-top: -100px;
                margin-bottom: 100px;
            }

            .heading1 {
                color: white;
                font-size: 50px;
                text-align: left;
                margin-left: 20px;
            }

            .heading2 {
                color: white;
                font-size: 50px;
                text-align: center;
            }

            .heading3 {
                color: white;
                font-size: 50px;
                text-align: right;
                margin-right: 20px;
            }

            .button1 {
                background-color: white;
                color: black;
                height: 740px;
                border:solid;
                width: 500px;
                padding: 15px 100px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 45px;
                margin-right: 30px;
                cursor: pointer;
                font-family: "Metamorphous", serif;
                border-radius: 200px;
                box-shadow: 20px 10px;
            }

            .button2 {
                background-color: #ffffff;
                height: 740px;
                width: 500px;
                border:solid;
                color: rgb(0, 0, 0);
                padding-top: 70px;
                padding-left: 95px;
                display: inline-block;
                font-size: 45px;
                box-shadow: 20px 10px;
                cursor: pointer;
                font-family: "Metamorphous", serif;
                border-radius: 200px;
            }

            .button3 {
                background-color: #ffffff;
                height: 740px;
                width: 500px;
                color: rgb(0, 0, 0);
                border:solid;
                padding-left: 90px;
                display: inline-block;
                font-size: 45px;
                margin-left: 30px;
                padding-right: 150px;
                box-shadow: 20px 10px;
                cursor: pointer;
                font-family: "Metamorphous", serif;
                border-radius: 200px;

            }

            .container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .tanjiro {
                position: absolute;
                width: 300px;
                height: 630px;
                left: 115px;
                top: 220px;
                transition: transform 0.5s;
            }

            .himejima {
                position: absolute;
                width: 300px;
                height: 600px;
                top: 250px;
                left: 700px;
                transition: transform 0.5s;
            }

            .kokushibo {
                position: absolute;
                width: 400px;
                height: 550px;
                left: 1200px;
                top: 280px;
                transition: transform 0.5s;

            }

            .tanjiro:hover {
                transform: scale(1.2);
                transition-duration: 0.5s;
            }

            .himejima:hover {
                transform: scale(1.2);
                transition-duration: 0.5s;
            }

            .kokushibo:hover {
                transform: scale(1.2);
                transition-duration: 0.5s;
            }

            .body {
                font-family: "Metamorphous", serif;
            }

            .inside-text1 {
                position: absolute;
                top: 850px;
            }

            .inside-text2 {
                position: absolute;
                top: 850px;
                left: 770px;
            }

            .inside-text3 {
                position: absolute;
                top:850px;

            }

            .ending {
                font-family: "metamorphous", serif;
                font-size: 45px;
                display: inline-block;
                color: white;
                position: relative;
                left: 100px;
                margin-top: 100px;
            }

            .subscribe-button {
                position: absolute;
                font-family: "metamorphous", serif;
                background-color: black;
                color: white;
                border: solid;
                font-size: 30px;
                right:-223px;
                border-color: white;
                height: 50px;
                padding: 1px 15px;
                border-radius: 100px;
                cursor: pointer;
                transition: color 0.8s;
                transition: background-color 0.8s;
            }

            .subscribe-button:hover {
                color: black;
                background-color: white;
            }

            .subscribe-button:active {
                color: black;
                background-color: white;
                opacity: 0.6;
            }

            .footer {
                background-color: black;
                margin-top: 20px; 
                color: white;
                font-size: 20px;
                height: 500px;
                margin-bottom: -10px;
                margin-left: -10px;
                margin-right: -8px;
            }

            .contact {
                display: inline-block;
                position: relative;
                top: 180px;
                font-size: 30px;
                left: 300px;
            }

            .social {
                display: inline-block;
                position: relative;
                top: 140px;
                font-size: 30px;
                left: 280px;
            }

            .copyright {
                display: inline-block;
                position: relative;
                top: 400px;
                font-size: 10px;
                left: 50px;
            }
            
            .git {
                position: absolute;
                height: 40px;
                left: 450px;
                top: 20px;
            }

            .in {
                position: absolute;
                height: 40px;
                left: 550px;
                top: 20px; 
            }
}

/*for mobile*/
@media (max-width:576px) {
            .logo {
                position: relative;
                height: 200px;
                left: 90px;
                margin-top: 80px;
            }

            .return-button {
                display: none;
            }

            .heading {
                display:flex;
                flex-direction: column;
                text-align: center;
                position: relative;
                margin-top: 10px;
                left: 9px;
                font-size: 20px;
                color: white;
                font-family: "Metamorphous", serif;
            }

            .button1 {
                position: absolute;
                width: 180px;
                border-radius: 100px;
                height: 240px;
                left: 110px;
                border: solid;
                margin-top: 40px;
                box-shadow: 20px 10px;
            }

            .button2 {
                position: absolute;
                border-radius: 100px;
                width: 180px;
                height: 240px;
                border: solid;
                left: 110px;
                top: 640px;
                margin-top: 40px;
                box-shadow: 20px 10px;
            }

            .button3 {
                position: absolute;
                border-radius: 100px;
                width: 180px;
                height: 240px;
                top: 930px;
                border: solid;
                left: 110px;
                margin-top: 40px;
                box-shadow: 20px 10px;
            }

            .tanjiro {
                position: absolute;
                height: 200px;
                width: 100px;
                top: 0px;
                left: 40px;
            }

            .himejima {
                position: absolute;
                height: 200px;
                width: 100px;
                top: 10px;
                left: 40px;
            }

            .kokushibo {
                position: absolute;
                height: 180px;
                width: 130px;
                top: 10px;
                left: 20px;
            }

            .inside-text1 {
                position: absolute;
                font-family: "metamorphous", serif;
                font-size: 10px;
                top: 210px;
                left: 50px;
            }

            .inside-text2 {
                position: absolute;
                font-family: "metamorphous", serif;
                font-size: 10px;
                top: 215px;
                left: 73px;
            }

            .inside-text3 {
                position: absolute;
                font-family: "metamorphous", serif;
                font-size: 10px;
                top: 210px;
                left: 50px;
            }

            .footer {
                position: relative;
                font-family: "metamorphous", serif;
                top: 940px;
                height: 400px;
                background-color: black;
                margin-top: 20px; 
                color: white;
                font-size: 20px;
                margin-bottom: -10px;
                margin-left: -10px;
                margin-right: -10px;
            }

            .contact {
                position: absolute;
                font-size: 20px;
                top:90px;
                left: 110px;
            }

            .email {
                position: absolute;
                display: inline-block;
                font-size: 10px;
                top: 30px;
                left: 5px;
            }
            
            .copyright {
                position: absolute;
                font-size: 10px;
                top: 370px;
                left: 20px;
            }

            .social {
                position: absolute;
                top: 230px;
                left: 130px;
            }
            .ending {
                color: white;
                position: relative;
                display: inline-block;
                top: 880px;
                left: 20px;
            }

            .subscribe-button {
                position: absolute;
                font-family: "metamorphous", serif;
                left: 134px;
                top:20px;
                margin-bottom: 10px;
                margin-top: 10px;
                background-color: black;
                color: white;
                border: solid;
                border-radius: 20px;
                font-size: 10px;
                padding: 10px 10px;
                transition: background-color 1s;
                transition: color 1s;
            }

            .subscribe-button:active {
                color: black;
                background-color: white;
            }

            .git {
                position: absolute;
                height: 35px;
                left: 0px;
                top: 30px;
            }

            .in {
                position: absolute;
                height: 35px;
                left: 60px;
                top: 30px; 
            }
}

/* Tablet */
@media ((min-width: 700px) and (max-height: 1380px) and (max-width:1300px)) {
            .logo {
                position: relative;
                height: 200px;
                left: 60px;
                margin-top: 80px;
            }

            body {
                position: relative;
                left: 49%;
            }

            .return-button {
                display: none;
            }

            .heading {
                display:flex;
                flex-direction: column;
                position: relative;
                margin-top: 10px;
                left: 10px;
                font-size: 20px;
                color: white;
                font-family: "Metamorphous", serif;
            }

            .button1 {
                position: absolute;
                width: 180px;
                border-radius: 100px;
                height: 240px;
                left: 90px;
                margin-top: 40px;
                box-shadow: 20px 10px;
            }

            .button2 {
                position: absolute;
                border-radius: 100px;
                width: 180px;
                height: 240px;
                left: 90px;
                top: 640px;
                margin-top: 40px;
                box-shadow: 20px 10px;
            }

            .button3 {
                position: absolute;
                border-radius: 100px;
                width: 180px;
                height: 240px;
                top: 930px;
                left: 90px;
                margin-top: 40px;
                box-shadow: 20px 10px;
            }

            .tanjiro {
                position: absolute;
                height: 200px;
                width: 100px;
                top: 0px;
                left: 40px;
            }

            .himejima {
                position: absolute;
                height: 200px;
                width: 100px;
                top: 10px;
                left: 40px;
            }

            .kokushibo {
                position: absolute;
                height: 180px;
                width: 130px;
                top: 10px;
                left: 20px;
            }

            .inside-text1 {
                position: absolute;
                font-family: "metamorphous", serif;
                font-size: 10px;
                top: 210px;
                left: 50px;
            }

            .inside-text2 {
                position: absolute;
                font-family: "metamorphous", serif;
                font-size: 10px;
                top: 215px;
                left: 73px;
            }

            .inside-text3 {
                position: absolute;
                font-family: "metamorphous", serif;
                font-size: 10px;
                top: 210px;
                left: 50px;
            }

            .footer {
                position: relative;
                font-family: "metamorphous", serif;
                top: 1000px;
                left: -500px;
                height: 900px;
                width: 1550px;
                background-color: black;
                margin-top: 20px; 
                color: white;
                font-size: 20px;
                margin-bottom: -10px;
                margin-left: -10px;
                margin-right: -10px;
            }

            .contact {
                position: absolute;
                font-size: 20px;
                top:90px;
                left: 110px;
            }

            .email {
                position: absolute;
                display: inline-block;
                font-size: 10px;
                top: 30px;
                left: 5px;
            }
            
            .copyright {
                position: absolute;
                font-size: 10px;
                top: 880px;
                left: 500px;
            }

            .social {
                position: absolute;
                top: 230px;
                left: 130px;
            }
            .ending {
                color: white;
                position: relative;
                display: inline-block;
                top: 900px;
                left: 20px;
            }

            .subscribe-button {
                position: absolute;
                right: 130px;
                top:20px;
                margin-bottom: 10px;
                margin-top: 10px;
                background-color: black;
                color: white;
                border: solid;
                border-radius: 20px;
                font-size: 10px;
                padding: 10px 10px;
                transition: background-color 1s;
                transition: color 1s;
            }

            .subscribe-button:active {
                color: black;
                background-color: white;
            }

            .git {
                position: absolute;
                height: 35px;
                left: 0px;
                top: 30px;
            }

            .in {
                position: absolute;
                height: 35px;
                left: 60px;
                top: 30px; 
            }
}