/* Mobile */
@media (max-width:576px) {
            .logo {
                position: relative;
                height: 150px;
                left: 55px;
                margin-top: 80px;
            }

            .return-button {
                display: none;
            }

            .container {
                display:flex;
                flex-direction: column;
                position: relative;
                margin-top: 10px;
                left: 14%;
                margin-right: 40px;
                font-size: 20px;
                color: white;
                font-family: "Metamorphous", serif;
            }

            .tanjiro {
                position: absolute;
                height: 200px;
                border-radius: 100px;
                width: 150px;
                left: 60px;
                margin-top: 40px;
                box-shadow: 20px 10px;
            }

            .nezuko {
                position: absolute;
                height: 200px;
                border-radius: 100px;
                width: 150px;
                left: 60px;
                margin-top: 40px;
                top: 520px;
                box-shadow: 20px 10px;
            }

            .zenitsu {
                position: absolute;
                height: 200px;
                border-radius: 100px;
                width: 150px;
                left: 60px;
                top: 750px;
                margin-top: 40px;
                box-shadow: 20px 10px;
            }

            .inosuke {
                position: absolute;
                height: 200px;
                border-radius: 100px;
                width: 150px;
                left: 60px;
                top: 990px;
                margin-top: 40px;
                box-shadow: 20px 10px;
            }

            .muzan {
                position: absolute;
                height: 200px;
                border-radius: 100px;
                width: 150px;
                left: 60px;
                top: 1220px;
                margin-top: 40px;
                box-shadow: 20px 10px;
            }

            .tanjiro-1 {
                position: absolute;
                height: 160px;
                width: 100px;
                top: 10px;
                left: 25px;
            }

            .nezuko-1 {
                position: absolute;
                height: 160px;
                width: 120px;
                top: 10px;
                left: 9px;
            }

            .zenitsu-1 {
                position: absolute;
                height: 160px;
                width: 120px;
                top: 10px;
                left: 15px;
            }

            .inosuke-1 {
                position: absolute;
                height: 160px;
                width: 100px;
                top: 10px;
                left: 20px;
            }

            .muzan-1 {
                position: absolute;
                height: 160px;
                width: 100px;
                top: 10px;
                left: 25px;
            }

            .inner1 {
                position: absolute;
                display: inline-block;
                font-family: "metamorphous", serif;
                font-size: 10px;
                color: black;
                top: 178px;
                left: 45px;
            }

            .inner2 {
                position: absolute;
                display: inline-block;
                font-family: "metamorphous", serif;
                font-size: 10px;
                color: black;
                top: 178px;
                left: 58px;
            }

            .inner3 {
                position: absolute;
                display: inline-block;
                font-family: "metamorphous", serif;
                font-size: 10px;
                color: black;
                top: 178px;
                left: 56px;
            }

            .inner4 {
                position: absolute;
                display: inline-block;
                font-family: "metamorphous", serif;
                font-size: 10px;
                color: black;
                top: 178px;
                left: 45px;
            }

            .inner5 {
                position: absolute;
                display: inline-block;
                font-family: "metamorphous", serif;
                font-size: 10px;
                color: black;
                top: 178px;
                left: 50px;
            }
}

/* Tablet */
@media ((min-width: 700px) and (max-height: 1380px) and (max-width:1300px)) {
            .logo {
                position: relative;
                height: 100px;
                left: 60px;
                margin-top: 80px;
            }

            .return-button {
                display: none;
            }

            .container {
                display:flex;
                flex-direction: column;
                position: relative;
                margin-top: 10px;
                left: 70%;
                font-size: 9px;
                color: white;
                font-family: "Metamorphous", serif;
            }

            .tanjiro {
                position: absolute;
                height: 150px;
                border-radius: 60px;
                width: 130px;
                left: 45px;
                margin-top: 40px;
                box-shadow: 25px 10px;
            }

            .nezuko {
                position: absolute;
                height: 150px;
                border-radius: 60px;
                width: 130px;
                left: 45px;
                margin-top: 40px;
                box-shadow: 25px 10px;
                top: 400px;
            }

            .zenitsu {
                position: absolute;
                height: 150px;
                border-radius: 60px;
                width: 130px;
                left: 45px;
                margin-top: 40px;
                box-shadow: 25px 10px;
                top: 600px;
            }

            .inosuke {
                position: absolute;
                height: 150px;
                border-radius: 60px;
                width: 130px;
                left: 45px;
                margin-top: 40px;
                box-shadow: 25px 10px;
                top: 800px;
            }

            .muzan {
                position: absolute;
                height: 150px;
                border-radius: 60px;
                width: 130px;
                left: 45px;
                margin-top: 40px;
                box-shadow: 25px 10px;
                top: 1000px;
            }

            .tanjiro-1 {
                position: absolute;
                height: 120px;
                width: 100px;
                top: 10px;
                left: 10px;
            }

            .nezuko-1 {
                position: absolute;
                height: 120px;
                width: 100px;
                top: 10px;
                left: 10px;
            }

            .zenitsu-1 {
                position: absolute;
                height: 120px;
                width: 100px;
                top: 10px;
                left: 10px;
            }

            .inosuke-1 {
                position: absolute;
                height: 120px;
                width: 100px;
                top: 10px;
                left: 10px;
            }

            .muzan-1 {
                position: absolute;
                height: 120px;
                width: 100px;
                top: 10px;
                left: 10px;
            }

            .inner1 {
                position: absolute;
                font-family: "metamorphous", serif;
                font-size: 10px;
                color: black;
                top: 130px;
                left: 40px;
            }

            .inner2 {
                position: absolute;
                font-family: "metamorphous", serif;
                font-size: 10px;
                color: black;
                top: 130px;
                left: 40px;
            }

            .inner3 {
                position: absolute;
                font-family: "metamorphous", serif;
                font-size: 10px;
                color: black;
                top: 130px;
                left: 40px;
            }

            .inner4 {
                position: absolute;
                font-family: "metamorphous", serif;
                font-size: 10px;
                color: black;
                top: 130px;
                left: 40px;
            }

            .inner5 {
                position: absolute;
                font-family: "metamorphous", serif;
                font-size: 10px;
                color: black;
                top: 130px;
                left: 40px;
            }
}

/* for desktop and laptop */
@media (min-width: 1300px) {
            .logo {
                position: relative;
                left: -720px;
                top: 100px;
                margin-top: 35px;
            }

            .container {
                font-family: "Metamorphous", serif;
                font-size: 45px;
                color: white;
                text-align: center;
                margin-top: -40px;
            }

            .inner-container {
                display: flex;
                flex-direction: row;
            }

            .tanjiro {
                width: 300px;
                height: 600px;
                border-radius: 300px;
                margin-top: 100px;
                margin-left: 20px;
                margin-right: 20px;
                cursor: pointer;
                border: solid;
            }

            .nezuko {
                width: 300px;
                height: 600px;
                border-radius: 300px;
                margin-top: 100px;
                margin-left: 20px;
                margin-right: 20px;
                cursor: pointer;
                border: solid;
            }

            .zenitsu {
                width: 300px;
                height: 600px;
                border-radius: 300px;
                margin-top: 100px;
                margin-left: 20px;
                margin-right: 20px;
                cursor: pointer;
                border: solid;
            }

            .inosuke {
                width: 300px;
                height: 600px;
                border-radius: 300px;
                margin-top: 100px;
                margin-left: 20px;
                margin-right: 20px;
                cursor: pointer;
                border: solid;
            }
            .muzan {
                width: 300px;
                height: 600px;
                border-radius: 300px;
                margin-top: 100px;
                margin-left: 20px;
                cursor: pointer;
                border: solid;
            }

            .return-button {
                position: absolute;
                font-family: "Metamorphous", serif;
                top: 30px;
                right: 20px;
                height: 50px;
                background-color: black;
                color: white;
                cursor: pointer;
                border: solid;
                border-color: rgb(254, 251, 251);
                border-radius: 10px;
            }

            .tanjiro-1 {
                position: absolute;
                height: 500px;
                width: 300px;
                top: 350px;
                left: 35px;
                transition: transform 0.8s;
            }

            .nezuko-1 {
                position: absolute;
                height: 500px;
                width: 300px;
                top: 350px;
                left: 360px;
                transition: transform 0.8s;
            }

            .zenitsu-1 {
                position: absolute;
                height: 500px;
                width: 300px;
                top: 350px;
                left: 700px;
                transition: transform 0.8s;
            }

            .inosuke-1 {
                position: absolute;
                height: 500px;
                width: 300px;
                top: 350px;
                left: 1045px;
                transition: transform 0.8s;
            }

            .muzan-1 {
                position: absolute;
                height: 300px;
                width: 280px;
                top: 380px;
                left: 1400px;
                transition: transform 0.8s;
            }

            .tanjiro-1:hover {
            transform: scale(1.2);
            transition-duration: 0.8s;
            }

            .nezuko-1:hover {
            transform: scale(1.2);
            transition-duration: 1s;
            }

            .zenitsu-1:hover {
            transform: scale(1.2);
            transition-duration: 1s;
            }

            .inosuke-1:hover {
            transform: scale(1.2);
            transition-duration: 1s;
            }

            .muzan-1:hover {
            transform: scale(1.2);
            transition-duration: 1s;
            }

            .inner1 {
                position:absolute;
                top: 850px;
                left: 125px;
                font-family: "Metamorphous", serif;
                font-size: 25px;
            }

            .inner2 {
                position:absolute;
                top: 850px;
                left: 460px;
                font-family: "Metamorphous", serif;
                font-size: 25px;
            }

            .inner3 {
                position:absolute;
                top: 850px;
                left: 800px;
                font-family: "Metamorphous", serif;
                font-size: 25px;
            }

            .inner4 {
                position:absolute;
                top: 850px;
                left: 1140px;
                font-family: "Metamorphous", serif;
                font-size: 25px;
            }

            .inner5 {
                position:absolute;
                top: 850px;
                left: 1480px;
                font-family: "Metamorphous", serif;
                font-size: 25px;
            }
}